      :host {
        --height:10px;
         --color:rgb(50,50,50);
         --border-radius:20px;
       /* --color-border:rgb(245, 217, 217);
        --border-radius:16px;
        --color-bg-pv:rgb(2, 175, 2);
        --font-size-total:20px;      */

      }

      .wrapper{
        box-sizing: border-box;
        margin: 15px;
        padding: 5px;
        height: var(--height);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: row;  
        align-items: center; 
        justify-content: center;
      }      

      .item{
        background-color: rgb(99, 94, 94);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px;
        margin: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 16px;
      }

      .color{
        width: var(--height);
        height: var(--height);
        border-radius: var(--height);
        background-color: var(--color);
        margin-right: 5px;
      }
      .name{
        font-size: 10px;
        font-family: sans-serif;
       /* color: rgb(248, 93, 32);remove*/
      }