[Unit]
Description=DEYE python write charger service
Documentation=none
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/production/charger_writer
Restart=always

[Install]
WantedBy=multi-user.target