[Unit]
Description=DEYE python read inverters service
Documentation=none
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/production/read_inverters_data
Restart=always

[Install]
WantedBy=multi-user.target